<ng-container *ngIf="project">

    <h1>{{'Edit' | translate}} <a [routerLink]="['/projects', project.id]"> {{project.name}}</a> </h1>

    <app-box>


        <form (keyup)="onFormChange()" (change)="onFormChange()" (ngSubmit)="onSubmit()" novalidate>
            <ul>

                <app-form-field [errors]="errors" [field]="'name'">
                    <label for="name">{{'Name' | translate}} * </label>
                    <input autocomplete="off" type="text" name="name" id="name" [(ngModel)]="project.name">
                </app-form-field>
                <app-form-field *ngIf="clients" [errors]="errors" [field]="'client_id'">
                    <label for="client_id">{{'Client' | translate}} </label>
                    <select name="client_id" id="client_id" [(ngModel)]="project.client_id">
                        <option [ngValue]="null"> - </option>
                        <option *ngFor="let client of clients" [ngValue]="client.id">{{ client.name}}</option>
                    </select>
                </app-form-field>
                <app-form-field [errors]="errors" [field]="'status'">
                    <label for="status">{{'Status' | translate}} </label>
                    <select name="status" id="status" [(ngModel)]="project.status">
                        <option value="active">{{'Active' | translate}}</option>
                        <option value="inactive">{{'Inactive' | translate}}</option>
                    </select>
                </app-form-field>
                <app-form-field [errors]="errors" [field]="'month'">
                    <label for="month">{{'Month' | translate}} * </label>
                    <input autocomplete="off" type="date" name="month" id="month" [(ngModel)]="project.month">
                </app-form-field>

                <hr>
                <app-form-field *ngIf="projects" [errors]="errors" [field]="'move_incomplete_to_project_id'">
                    <label for="move_incomplete_to_project_id">Move incomplete tasks to other project
                    </label>
                    <select name="move_incomplete_to_project_id" id="move_incomplete_to_project_id"
                        [(ngModel)]="project.move_incomplete_to_project_id">
                        <option [ngValue]="null"> - </option>
                        <option *ngFor="let project of projects" [ngValue]="project.id">{{ project.nice_name}}</option>
                    </select>
                </app-form-field>


                <app-form-field [errors]="errors">
                    <button [disabled]="formLoading">{{'Save' | translate}}</button>
                </app-form-field>
            </ul>
        </form>


    </app-box>
</ng-container>