<app-spinner [show]="!client"></app-spinner>
<ng-container *ngIf="client">

    <div class="columns">
        <div class="column">
            <h1>
                <a [routerLink]="['/clients', client.slug]">{{client.name}}</a> | All tasks
            </h1>

        </div>
        <div class="column column_right">
            <div class="button_group">
                <a (click)="sortColumn('created_at')" class="button">Sort by Created</a>
                <a (click)="sortColumn('completed_at')" class="button">Sort by Completed</a>
            </div>
        </div>
    </div>

    <app-box>

        <ul>
            <li *ngFor="let task of visible_tasks">
                <app-task [task]="task" [showProjectLink]="true" [project]="task.project"
                    [canAdministrate]="current_user?.is_admin">
                </app-task>
            </li>
        </ul>

    </app-box>



</ng-container>