<app-box>
    <h3>{{'Uploads' | translate}}</h3>

    <ul class="uploads_container">
        <li *ngFor="let upload of uploads">
            <app-upload [upload]="upload" [tasks]="tasks" (uploadDeleted)="removeOldUpload($event)"></app-upload>
        </li>
    </ul>


    <ngx-dropzone [maxFileSize]="maxFileSize" (change)="onSelect($event)">
        <ngx-dropzone-label>{{'Drop it, baby!' | translate}}</ngx-dropzone-label>
        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }}) <br> Loading ... </ngx-dropzone-label>

        </ngx-dropzone-preview>
    </ngx-dropzone>



</app-box>

<div class="alert alert_danger" *ngFor="let failedUpload of failedUploads">
    {{failedUpload.name }} did not upload because of its {{failedUpload.reason}}.
</div>