<div #taskContainer class="row_container task_container    priority_{{task.priority}} indentation_{{task.indentation}}"
    [ngClass]="{completed: task.completed, is_title: task.is_title, is_current: task.is_current  }">

    <div class="completed_container">
        <input title="publically viewable" class="is_public_checkbox" *ngIf="current_user"
            [disabled]="disabled || updating || !current_user" (click)="togglePublic()" type="checkbox" name="is_public"
            [(ngModel)]="task.is_public">
        <input title="approved by client" class="is_approved_checkbox" *ngIf="current_user"
            [disabled]="disabled || updating || !current_user" (click)="toggleApproved()" type="checkbox"
            name="is_approved" [(ngModel)]="task.is_approved">
        <input title="completed" class="is_completed_checkbox" [disabled]="disabled || updating || !current_user"
            (click)="toggleCompleted()" type="checkbox" name="completed" [(ngModel)]="task.completed"
            [ngClass]="{cant_change:!current_user}">

    </div>

    <div class="content_container">

        <div class="inputs_container">


            <!-- <div class="task_input" contenteditable="true" (keyup)="updateFieldWithDebounce($event,'content')"
                (blur)="updateFieldFromEvent( $event, 'content')" [textContent]="task.content"> </div>
            <div *ngIf="canAdministrate" class="task_input" contenteditable="true"
                (keyup)="updateFieldWithDebounce( $event,  'translation')"
                (blur)="updateFieldFromEvent($event, 'translation')" [textContent]="task.translation"> </div> -->

            <textarea type="text" [(ngModel)]="task.content" name="content" class="task_input"
                (change)="updateField('content')" (keyup)="updateFieldWithDebounce( 'content')"></textarea>
            <textarea *ngIf="canAdministrate" type="text" [(ngModel)]="task.translation" name="translation"
                class="task_input" (change)="updateField('translation')"
                (keyup)="updateFieldWithDebounce( 'translation')"></textarea>


            <input *ngIf="canAdministrate" type="text" inputmode="numeric" pattern="[0-9]*"
                [(ngModel)]="task.time_taken" name="time_taken" min="0" step="1" class="task_input task_input_time"
                (change)="updateField('time_taken')" placeholder="minutes taken" />

            <div class="icon icon_tick" *ngIf="showTick">Updated</div>
        </div>
        <div class="task_added" *ngIf="task.comments_count > 0 || task.uploads_count > 0">


            <!-- <div *ngIf="task.priority === 1">
                <a title="Priority" class="icon icon_priority">Priority</a>
            </div>

            <div *ngIf="canAdministrate">{{'Added' | translate}}: {{task.created_at_date | date:'LLL d, H:mm' }}</div>


            <div *ngIf="canAdministrate && task.completed_at_date">Completed: {{task.completed_at_date | date}}</div>

            <div *ngIf="canAdministrate && task.assignee">Assigned to: {{task.assignee.name}}</div> -->

            <div *ngIf="task.comments_count > 0">
                <a (click)="showCommentPopup()" title="Comments"
                    class="comments_link has_comments">{{task.comments_count}} comments</a>
            </div>
            <div *ngIf="task.uploads_count > 0">
                <a (click)="getUploads()" title="Uploads" class="comments_link has_comments">{{task.uploads_count}}
                    uploads</a>
                <span *ngIf="task.uploads">
                    <a class="upload_box" *ngFor="let upload of task.uploads" target="_blank"
                        href="{{upload.full_url}}">
                        {{upload.filename}}</a>
                </span>
            </div>
            <div *ngIf="showProjectLink"><a [routerLink]="['/projects', task.project_id ]">Go to project</a> </div>


        </div>

        <app-comments *ngIf="showComments" [task]="task">
        </app-comments>






    </div>
    <div class="actions_container" [ngClass]="{menu_open: menu_open}">

        <a (click)="toggleMenu()" class="actions_opener">Actions</a>
        <ul>
            <li><a *ngIf="project" (click)="showCommentPopup()" title="Comment"
                    class="hide_on_mobile icon icon_comment">{{
                    "Comment" | translate}}</a></li>
            <li><a *ngIf="project" (click)="toggleUpload()" title="Upload" class="hide_on_mobile icon icon_upload">{{
                    "Upload" | translate}}</a></li>
            <li><a (click)="togglePriority()" title="Priority" class="hide_on_mobile icon icon_priority">
                    {{ "Priority" | translate}}</a>

            <li><a (click)="toggleIndentation()" title="Make subtask" class="hide_on_mobile icon icon_indent">
                    {{ "Indent" | translate}}</a>
            </li>

            <ng-container *ngIf="canAdministrate">
                <li><a (click)="toggleCurrent()" title="Working on" class="hide_on_mobile icon icon_current">
                        {{ "Working on" | translate}}</a>
                </li>


                <li><a (click)="moveTask()" title="Move task" class=" icon icon_person">
                        {{ "Move" | translate}}</a>
                </li>

                <!-- <li *ngFor="let user of users">
                    <a class="icon icon_person" [ngClass]="{assigned:  task.assignee_id === user.id }"
                        title="Assign to {{user.name}}" (click)="assignTo(user)">
                        {{ "Assign to" | translate}} {{user.name}}</a>
                </li> -->
                <li>
                    <a (click)="deleteTask()" title="Delete" class="icon icon_delete">
                        {{ "Delete" | translate}}</a>
                </li>
                <li class="date">{{'Added' | translate}}: {{task.created_at_date | date:'LLL d, H:mm' }}</li>
                <li class="date" *ngIf="task.completed_at_date">Completed: {{task.completed_at_date | date}}</li>

            </ng-container>




        </ul>

    </div>



</div>
<div class="task_upload" *ngIf="showUpload">
    <app-new-upload [project]="project" [task]="task" (uploadCreated)="createdUpload($event)"></app-new-upload>
</div>




<app-move-task *ngIf="showMoveTask" [task]="task" [project]="project" (hide_lightbox)="hideMoveTask($event)">
</app-move-task>