<div class="row_container task_container    priority_{{task.priority}} indentation_{{task.indentation}}"
    [ngClass]="{completed: task.completed, is_title: task.is_title, is_current: task.is_current  }">
    <div class="completed_container">
        <input [disabled]="updating" (click)="toggleCompleted()" type="checkbox" name="completed"
            [(ngModel)]="task.completed">
    </div>

    <div class="content_container">

        <div class="inputs_container">
            <div class="task_input" contenteditable="true" (keypress)="saveTaskOnEnter($event)"
                (blur)="updateContent($event)" [textContent]="task.content"> </div>
            <div *ngIf="canAdministrate" class="task_input" contenteditable="true" (keypress)="saveTaskOnEnter($event)"
                (blur)="updateTranslation($event)" [textContent]="task.translation"> </div>

            <select *ngIf="canAdministrate" [(ngModel)]="task.time_taken" name="time_taken"
                class="task_input task_input_time" (change)="onSubmit()">
                <option *ngFor="let time_option of time_options" [ngValue]="time_option.amount">
                    {{time_option.translation}}</option>
            </select>


            <div class="icon icon_tick" *ngIf="showTick">Updated</div>
        </div>
        <p *ngIf="canAdministrate" class="task_added">
            <a *ngIf="task.priority === 1" title="Priority" class="icon icon_priority">Priority</a>
            {{'Added' | translate}}: {{task.created_at_date | date:'LLL d, H:mm' }}
            <span *ngIf="task.completed_at_date"> | Completed: {{task.completed_at_date | date}}</span>
            | <a (click)="showCommentPopup()" title="Comments" class="comments_link"
                [ngClass]="{has_comments: task.comments_count > 0}">{{task.comments_count}} comments</a>

        </p>
        <p class="task_uploads_container" *ngIf="task.uploads">
            <a *ngFor="let upload of task.uploads" target="_blank" href="{{upload.full_url}}"> {{upload.filename}}</a>
        </p>

    </div>
    <div class="actions_container" *ngIf="canDelete">

        <a href="#" class="actions_opener">Actions</a>
        <ul>
            <li><a *ngIf="project" (click)="toggleUpload()" title="Upload"
                    class="hide_on_mobile icon icon_upload">Upload</a></li>
            <li><a (click)="togglePriority()" title="Priority" class="hide_on_mobile icon icon_priority">Priority</a>
            <li><a (click)="toggleCurrent()" title="Working on" class="hide_on_mobile icon icon_current">Working on</a>
            </li>
            <li><a (click)="toggleIndentation()" title="Make subtask" class="hide_on_mobile icon icon_indent">Indent</a>
            </li>
            <li><a (click)="deleteTask()" title="Delete" class="icon icon_delete">Delete</a></li>
            <!-- <a (click)="addTaskBelow()" title="Add task below" class="icon icon_add">Add task below</a> -->
        </ul>

    </div>



</div>
<div class="task_upload" *ngIf="showUpload">
    <app-new-upload [project]="project" [task]="task" (uploadCreated)="createdUpload($event)"></app-new-upload>
</div>


<app-comments *ngIf="showComments" [task]="task" (hideTaskComments)="hideComments($event)">
</app-comments>