<div class="columns">
    <div class="column">
        <h1>
            <a *ngIf="client" [routerLink]="['/clients', client.slug]">{{client.name}} | </a> Stats
        </h1>

    </div>
    <div class="column column_right">
        <div class="button_group">
        </div>
    </div>
</div>

<app-box>

    <app-bar-chart *ngIf="chart_config" [chart_config]="chart_config"></app-bar-chart>


</app-box>

<app-box>
    <ul>
        <li> Hours worked: {{hours_worked}} hrs</li>
        <li> Average hours / day: {{average_hours_per_day}} hrs</li>
        <li> Average hours / month: {{average_hours_per_month}} hrs</li>
        <li> Total earned: {{total_earned | currency}}</li>
        <li> Average / day: {{average_earned_per_day | currency}}</li>
        <li> Average / month: {{average_earned_per_month | currency}}</li>






    </ul>

</app-box>