<aside id="page_sidebar" [ngClass]="{visible: sidebarVisible}">
    <nav>
        <a [routerLink]="home_page_url" class="branding">{{site_name}}</a>
        <ul *ngIf="current_user">

            <ng-container *ngIf="current_user.is_admin">
                <li routerLinkActive="active"><a [routerLink]="['/clients']">{{'Clients' |translate}}</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/clients', 'new']">{{'New Client' |translate}}</a></li>
                <li><a [routerLink]="['/projects']">{{'Projects' | translate}}</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/projects', 'new']">{{'New Project' | translate}}</a>
                </li>
                <li><a [routerLink]="['/projects', 'status', 'inactive']">{{'Archive' | translate}}</a></li>
                <li><a [routerLink]="['/tasks']">{{'Tasks' | translate}}</a></li>
                <li><a [routerLink]="['/search']">{{'Search' | translate}}</a></li>
                <li><a [routerLink]="['/export']">{{'Export' | translate}}</a></li>

            </ng-container>

            <li *ngIf="current_user"><a (click)="logout()">{{'Sign out' | translate}}</a></li>
        </ul>
        <ul *ngIf="!current_user">
            <li routerLinkActive="active"><a [routerLink]="['/sign_in']">{{'Sign in' |
                    translate}}</a></li>
        </ul>


    </nav>
</aside>
<a (click)="toggleSidebar()" id="menu_button">
    <svg id="menu_svg" [ngClass]="{white: sidebarVisible}" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 125" version="1.1" x="0px" y="0px">
        <g fill="#000000">
            <rect x="16" y="21" width="69" height="10" rx="5" />
            <rect x="16" y="45" width="69" height="10" rx="5" />
            <rect x="16" y="69" width="69" height="10" rx="5" />
        </g>
    </svg>
    <span>Menu</span>
</a>