<div class="search_form">
    <form (keyup)="onSearch()" (ngSubmit)="onSearch()">
        <div class="search_field">
            <input type="text" [(ngModel)]="search_term" name="search_term" id="search_term"
                [placeholder]="'Search' | translate" />
        </div>
    </form>
</div>


<h1>{{'Projects' | translate}} <a (click)="refreshProjects()" class="icon icon_refresh">{{'Refresh' | translate}}</a>
</h1>



<ng-container *ngFor="let project of visible_projects">
    <app-box [styleclass]="project.status">

        <div class="progression_outer">
            <div class="progression_inner" [style.width.%]="project.percentage"></div>
        </div>


        <h2><a [routerLink]="['/projects', project.id]">{{project.name}}</a></h2>



        <p class="no_padding"> <strong> {{ project.percentage}} %</strong> {{'complete' | translate}} |
            <strong> {{ project.tasks_count.incomplete}} </strong>{{'tasks to be done' | translate}} |
            <strong> {{ project.tasks_count.complete}}</strong> {{'tasks completed' | translate}}
        </p>

        <app-box-footer>
            <p>Last updated: {{ project.updated_at | date}}
                <a *ngIf="current_user" (click)="archiveProject(project)">| {{'Archive' | translate}}</a>
            </p>
            <p *ngIf="project.client"> <a [routerLink]="['/clients', project.client_id]">{{project.client.name}}</a></p>
        </app-box-footer>
    </app-box>

</ng-container>


<app-box *ngIf="load_more">
    <p>
        <a (click)="loadMore()" class="button button_block">{{'Load more' | translate}}</a>
    </p>
</app-box>
<app-spinner [show]="loading"></app-spinner>