<h1>Projects <a (click)="refreshProjects()" class="icon icon_refresh">Refresh</a> </h1>



<ng-container *ngFor="let project of projects">
    <app-box [styleclass]="project.status">

        <div class="progression_outer">
            <div class="progression_inner" [style.width.%]="project.percentage"></div>
        </div>


        <h2> <a [routerLink]="['/projects', project.id]">{{project.name}}</a></h2>

        <ul *ngIf="project.random_tasks">
            <li *ngFor="let task of project.random_tasks">
                <app-task [task]="task" [canDelete]="false">
                </app-task>
            </li>
        </ul>

        <app-box-footer>
            <p>{{ project.tasks_count.incomplete}} incomplete | {{ project.tasks_count.complete}} complete </p>
        </app-box-footer>
    </app-box>

</ng-container>


<app-box *ngIf="load_more">
    <p>
        <a (click)="loadMore()" class="button button_block">Load more</a>
    </p>
</app-box>