<div class="search_form">
    <form (keyup)="onSearch()" (ngSubmit)="onSearch()">
        <div class="search_field">
            <input type="text" [(ngModel)]="search_term" name="search_term" id="search_term"
                [placeholder]="'Search' | translate" />
        </div>
    </form>
</div>


<h1>{{'Projects' | translate}} <a (click)="refreshProjects()" class="icon icon_refresh">{{'Refresh' | translate}}</a>
</h1>



<ng-container *ngFor="let project of visible_projects">
    <app-project-summary [project]="project"></app-project-summary>
</ng-container>


<app-box *ngIf="load_more">
    <p>
        <a (click)="loadMore()" class="button button_block">{{'Load more' | translate}}</a>
    </p>
</app-box>
<app-spinner [show]="loading"></app-spinner>