body {
  background: $background_color;
  color: $font_color;
  font-family: $font_stack;
  font-weight: normal;
  font-size: 62.5%;
}

main {
  padding: $padding;

  @media (min-width: $mobile_width) {
    padding: $padding $padding $padding #{$aside_width + $padding};
  }
}

// end of main

.hide_on_mobile {
  @media (max-width: $mobile_width) {
    display: none !important;
  }
}

.box {
  background-color: white;
  box-shadow: $box_shadow;
  padding: $padding;
  margin: 0 0 $double_padding;
  border-radius: $border_radius;
  // opacity: 0.75;
  transition: box-shadow 0.3s;


  p:last-child {
    padding: 0;
    margin: 0;
  }
}


.inactive {
  opacity: 0.55;
  filter: grayscale(0.9);
}

.box_content {}

.box_footer {
  // background-color: scale-color($brand_color, $lightness: 95%);
  margin: 0 $negative_padding 0;
  padding: 6px $half_padding 0;
  border-radius: 0 0 $border_radius $border_radius;
  text-align: right;
  color: scale-color($brand_color, $lightness: 33%);
  display: flex;
  justify-content: space-between;

  display: flex;

  h2 {
    font-size: 1.9em;
  }

  p {
    flex-wrap: nowrap;
    padding: 0;
    position: relative;
    top: 5px;
    font-size: 1.1em;
    text-align: right;
  }
}

.columns {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 0 $padding;



  @media (min-width: $mobile_width) {
    margin-bottom: 0;
    flex-wrap: nowrap;

    &.columns_wrap {
      flex-wrap: wrap;
    }
  }
}

// end of columns

.column {
  flex: 1 auto;
  margin: 0 $half_padding;
  width: 100%;

  .column {
    margin-left: 0;
    margin-right: 0;
  }

  &.column_half {
    width: auto;
    max-width: 50%;
    max-width: calc(50% - #{$padding});
  }

  &.column_small {
    @media (min-width: $mobile_width) {
      width: 33.3%;
    }
  }

  &.column_tiny {
    @media (min-width: $mobile_width) {
      width: 15%;
    }
  }

  &.column_large {
    @media (min-width: $mobile_width) {
      width: 66.6%;
    }
  }

  &.column_right {
    @media (min-width: $mobile_width) {
      text-align: right;
    }
  }


}

// end of column



.sticky {
  position: sticky;
  top: 10px;
}

.alert {
  background: $brand_color;
  color: white;
  padding: $padding;
  border-radius: $border_radius;
  margin: 0 0 $padding;
  box-shadow: $box_shadow;
  font-size: $font_size;

  &.alert_danger {
    background-color: $red;
  }

  &.alert_success {
    background-color: $green;
  }
}

.row_container {
  display: flex;
  margin: 0;
  padding: 0;

  // .icon {
  //   opacity: 0.1;
  // }

  // &:hover {
  //   .icon {
  //     opacity: 1;
  //   }
  // }
}

.orderable {
  position: relative;

  .handle {
    position: absolute;
    right: -5px;
    top: 15px;
    text-indent: -9999px;
    background: no-repeat center top url("../assets/images/drag.svg");
    background-size: 13px;
    opacity: 0.1;
    cursor: pointer;
    width: 20px;
    height: 30px;
    display: inline-block;
    cursor: move;
  }
}

.task_container {
  margin: 0 0 5px;

  &.completed {
    // .content_container {
    //   opacity: 0.5;
    // }

  }

  &.is_title {
    margin: 0;

    .completed_container,
    .inputs_container .task_input_time,
    .task_added {
      display: none;
    }

    .task_input {
      border: 0;
      font-size: 1.8em;
      font-weight: bold;
    }
  }

  &.indentation_1 {
    .content_container {
      margin-left: 30px;
    }
  }

  &.priority_1 {

    // input {
    //     border-color: $font_color;
    // }
    .actions_container {
      .icon {
        &.icon_priority {
          opacity: 1;
          background-color: $red;
          color: white;
          background-image: url("../assets/images/priority_white.svg");
        }
      }
    }

    textarea {
      outline: 1px solid transparentize($red, 0.6);
      box-shadow: 0 0 27px 10px transparentize($red, 0.85) inset;
    }
  }


  &.completed {

    &.priority_1 {
      textarea {
        box-shadow: none;
        outline: none;
      }
    }
  }

  &.is_current {
    .actions_container {
      .icon {
        &.icon_current {
          background-color: $brand_color;
          color: white;
          background-image: url("../assets/images/cog_white.svg");
        }
      }
    }
  }

  a.assigned {
    background-color: $brand_color;
    color: white;
  }

  form {
    margin-left: -5px;

    @media (min-width: $mobile_width) {
      margin-left: 0;
    }
  }

  $checkbox_size: 25px;

  .completed_container {
    // width: 40px;
    // max-width: 40px;

    @media (min-width: $mobile_width) {
      flex-shrink: 0;
      padding: 0 10px 0 0;

    }

    // big checkbox
    input {
      // transform: scale(1.4);
      position: relative;
      top: 5px;
      // color: $brand_color;
      // cursor: pointer;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 10px;
      width: $checkbox_size;
      height: $checkbox_size;
      appearance: none;
      transform: scale(1);
      padding: 0;
      background-color: white;
      border: 1px solid $medium_grey;
      cursor: pointer;
      transition: all 0.3s;
      background-image: url("../assets/images/tick.svg");

      &:hover {
        background-color: lighten($brand_color, 30);
      }

      &:checked {
        background-color: $brand_color;
      }

      &.is_completed_checkbox {
        &:hover {
          background-image: url("../assets/images/tick_white.svg");

          background-color: lighten($green, 30);
          background-size: 14px;
        }

        &:checked {
          background-color: $green !important;
        }
      }

      &.is_approved_checkbox {
        background-image: url("../assets/images/thumb.svg");
        background-size: 15px;

        &:checked {
          background-image: url("../assets/images/thumb_white.svg");
        }
      }

      &.is_public_checkbox {
        background-image: url("../assets/images/eye.svg");
        background-size: 24px;
        background-position: 0px 1px;

        &:checked {
          background-image: url("../assets/images/eye_white.svg");
        }
      }

      &.cant_change {
        cursor: default;
        background-color: white !important;

        &:checked {
          background-color: $green !important;
        }
      }
    }
  }

  .task_uploads_container {
    opacity: 0.3;
    margin: 8px 0 0 5px;
    padding: 0;
    font-size: 1em;

    a {
      display: inline-block;
      padding: 2px;
      margin: 0 1px;

      &:after {
        content: " | ";
      }

      &:last-child {
        &:after {
          content: "";
        }
      }
    }
  }

  .content_container {
    flex: 1 auto;
    // width: 100%;
    position: relative;

    &:hover {
      .task_uploads_container {
        opacity: 0.8;
      }
    }

    .icon_tick {
      position: absolute;
      float: right;
      right: 10px;
      top: 11px;
      opacity: 1;
      animation: fadeOut 2s forwards;
      animation-delay: 1s;
    }
  }

  .task_added {
    font-size: 0.8em;
    font-style: italic;
    padding: 3px 0 0 0;
    text-indent: 4px;
    color: #777;

    div {
      padding-right: 10px;
      display: inline-block;
    }

    .icon_priority {
      opacity: 1;
      background-color: $red;
      color: white;
      background-image: url("../assets/images/priority_white.svg");
      top: -2px;
      transform: scale(0.7);
    }
  }

  a.comments_link {
    color: adjust-color($brand_color, $saturation: -70%);

    &.has_comments {
      color: $brand_color;
    }
  }

  .actions_container {
    // padding: 0 $half_padding 0 0;
    margin: 0 0 0 $half_padding;
    // min-width: 50px;
    // max-width: 50px;
    position: relative;
    height: 30px;

    .actions_opener {
      background: url("../assets/images/menu.svg") no-repeat center center;
      border-radius: $border_radius;
      font-size: 0;
      display: inline-block;
      background-size: 25px;
      width: $checkbox_size;
      height: $checkbox_size;
      cursor: pointer;
      opacity: 0.5;
      border: 0;
      position: relative;
      top: 9px;
    }

    ul {
      display: none;
      position: absolute;
      top: 5px;
      right: 25px;
      z-index: 1000;
      width: 205px;
      background-color: $light_grey;
      border-radius: 5px;
      box-shadow: $box_shadow;
      padding: 5px;

      li {
        display: block;
        padding: 0;
        margin: 0;
        font-size: 1em;
        overflow: hidden;

        &.date {
          padding: 7px 4px 1px;
          font-size: 0.9em;
        }

        a {
          text-indent: 25px;
          display: block;
          width: 100%;
          background-position: 4px 5px;
          border-radius: 0;
          padding: 4px;
          top: 0;
        }
      }
    }

    // &:hover,
    &.menu_open {
      .actions_opener {
        background-color: darken($light_grey, 10);
      }

      ul {
        display: block;
      }
    }

    @media (min-width: $mobile_width) {
      // min-width: 155px;
      // max-width: 155px;
    }
  }

  .task_input,
  input,
  textarea {
    font-size: 0.9em;
  }

  .icon {
    position: relative;
    top: 6px;

    margin: 5px 0 0 2px;

    @media (min-width: $mobile_width) {
      margin: 0;
    }
  }

  .inputs_container {


    @media (min-width: $mobile_width) {
      display: flex;
      flex-wrap: wrap;
    }

    input,
    .task_input {
      flex: 1;
    }

    @media (min-width: $mobile_width) {

      input,
      .task_input {
        margin-left: 5px;
      }
    }

    input:first-child,
    .task_input:first-child {
      margin-left: 0;
    }

    .task_input_time {
      display: none;

      @media (min-width: $mobile_width) {
        max-width: 60px;
        width: 60px;
        display: block;
      }
    }

    .task_input_code {
      max-width: 71px;
      width: 71px;
      font-size: 70%;
    }




  }
}




/// .task_container

.task_upload {
  margin: 0px 0 45px;
}

.uploads_container {
  margin: 0 0 $padding 0;
  padding: 0;
}

.upload_container {
  border-bottom: 1px dotted $medium_grey;
  padding: $half_padding;

  .file_name {
    width: 100%;
  }

  select {
    font-size: 0.7em;
    padding: 4px;
    margin: 0 5px;
    width: auto;
    max-width: 120px;

    opacity: 0;
  }

  .file_date {
    width: 100px;
    color: $medium_grey;
    font-style: italic;
  }

  .actions_container {
    padding: 0 0 0 $half_padding;
  }

  &:hover {
    select {
      opacity: 1;
    }
  }
}

.icon {
  background: no-repeat center center;
  background-size: 15px;
  text-indent: -9999px;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: $border_radius;
  transition: all 0.3s;
  margin: 0 1px 0 0;

  &.icon_comment {
    background-image: url("../assets/images/comment.svg");
  }

  // &.icon_comment {
  //
  //     background-color: $dark_grey;
  //     border-radius: 5px;
  //     position: relative;
  //     height: 17px;
  //     width: 19px;

  //     color: white;
  //     text-indent: 0;
  //     font-weight: bold;
  //     text-align: center;
  //     font-size: 12px;
  //     line-height: 17px;

  //     @media(min-width: $mobile_width) {
  //         top: 4px;
  //     }

  //     &:hover {
  //         background-color: $dark_grey;
  //     }

  //     &.has_comments {
  //         background-color: $brand_color;
  //         opacity: 0.9;

  //         &:after {
  //             border-color: $brand_color;
  //             border-bottom-color: transparent;
  //             border-right-color: transparent;
  //         }
  //     }

  //     &:after {
  //         content: '';
  //         border: 5px solid $dark_grey;
  //         border-bottom-color: transparent;
  //         border-right-color: transparent;
  //         position: absolute;
  //         top: 14px;
  //         left: 5px;
  //         z-index: -1;

  //     }
  // }

  &.icon_delete {
    background-image: url("../assets/images/delete.svg");
  }

  &.icon_add {
    background-color: red;
  }

  &.icon_indent {
    background-image: url("../assets/images/indent.svg");
  }

  &.icon_upload {
    background-image: url("../assets/images/upload.svg");
  }

  &.icon_person {
    background-image: url("../assets/images/cog.svg");
  }

  &.icon_priority {
    background-image: url("../assets/images/priority.svg");
  }

  &.icon_current {
    background-image: url("../assets/images/cog.svg");
  }

  &.icon_refresh {
    background-image: url("../assets/images/refresh.svg");
    background-color: $font_color;
    background-size: 18px;
    background-position: center bottom;
  }

  &.icon_tick {
    background-image: url("../assets/images/tick_white.svg");
    background-color: $brand_color;
    background-size: 9px;
    width: 15px;
    height: 15px;
  }

  &:hover {
    background-color: $medium_grey;
  }
}

h1 {
  a.icon {
    position: relative;
    top: 10px;
  }
}


.project_outer {


  h2 {
    display: inline-block;
    text-align: left;
  }

  .toggle_collapse {
    padding: 5px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: -5px;
    transform: rotate(225deg);
    transition: transform 0.3s;

    &:after {
      content: '';
      width: 1px;
      height: 1px;
      display: inline-block;
      border: 5px solid $medium_grey;
      border-bottom-color: transparent;
      border-right-color: transparent;


    }

  }


  &.collapsed {

    .toggle_collapse {

      transform: rotate(45deg) translateX(5px) translateY(5px);
    }


    ul,
    .box_footer p {
      display: none;
    }
  }

}


.project_outer {
  padding-bottom: 7px;
}


.project_whole {
  // padding: 0 0 $padding;
  position: relative;
  // border-top: 3px solid $light_grey;


  &.project_summary {
    padding: 0 0 20px 0;

    h2 {
      padding-top: 15px;
    }
  }

  .progression_outer {
    background-color: $medium_grey;
    // background-color: red;
    // top: $negative_padding;
    // position: relative;
  }

  .box_footer p {

    opacity: 0.3;
    display: none;

    @media (min-width: $mobile_width) {
      display: block;
      flex-shrink: 0;
    }
  }

  &:hover {
    .box_footer p {
      opacity: 1;
    }
  }

  &:first-child {
    margin-top: $negative_padding;
  }

  &:last-child {
    margin-bottom: $negative_padding;
  }

}

.progression_outer {
  // margin: #{$padding * -1} #{$padding * -1} $padding;
  margin: 0 $negative_padding 0;
  background-color: $light_grey;
  border-radius: $border_radius $border_radius 0 0;
  opacity: 0.4;
  overflow: hidden;

  .progression_inner {
    background: $brand_gradient;
    transition: all 1s;
    height: 3px;
    text-indent: -9999px;
  }
}

.search_form {
  position: relative;
  width: 100%;
  height: $header_height;
  margin: 0 0;

  form {
    position: absolute;
    height: $header_height;
    background: white;
    top: #{$padding * -1};
    left: #{$padding * -1};
    right: #{$padding * -1};
    box-shadow: $box_shadow;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .search_field {
    flex: 1 auto;
    // width: 100%;
    height: $header_height;
  }

  input {
    border: 0;
    appearance: none;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    height: $header_height;
    line-height: $header_height;

    border-radius: 0;
  }

  .search_buttons {
    height: $header_height;
    padding: 0 10px;
    $hd_button_offset: 10px;
    margin: $hd_button_offset 0;

    a.button {
      font-size: 1em;
      margin: 0;
      padding: 0 10px 0;
      line-height: #{($header_height - $hd_button_offset - $hd_button_offset)};
    }
  }
}



.search_field {
  input {
    background: url("../assets/images/search.svg") no-repeat $padding 50% transparent;
    background-size: 13px;
    padding-left: $double_padding;
    padding-right: $double_padding;
  }
}

a.load_translate {
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 0;
  color: #eee;
  display: inline-block;
  font-size: 13px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  line-height: 25px;
  text-align: center;

  &.active {
    background-color: $green;
    color: white;
  }
}

.close_lightbox {
  text-indent: -9999px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: $red;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  &:after {
    content: "x";
    color: white;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.lightbox_outer {
  box-shadow: 0 0 0 10000px transparentize(black, 0.5);
  position: relative;
  z-index: 1000;
}

.lightbox_inner {
  position: relative;
  background: white;
  padding: $padding;
  border-radius: $border_radius;
  box-shadow: $box_shadow;
  position: absolute;
  top: 30px;
  left: 5%;
  right: 5%;
  width: 90%;
  position: fixed;
  z-index: 100;
  height: 80vh;
  overflow-y: scroll;
}

.comments_container {

  background: darken($light_grey, 5);
  padding: 20px;
  border-radius: 3px;
  margin: 2px 0;

  .comment_container {

    margin: 0 0 10px;
    position: relative;

    blockquote {
      font-size: 1em;

      display: inline-block;
      background: $brand_color;
      color: white;
      border-radius: 10px;
      padding: 10px;
    }

    .date {
      color: transparentize(white, 0.2);
      font-size: #{$font_size * 0.5};
      display: block;
    }
  }

  .task_container {
    font-size: $font_size;
  }
}

.earnings {
  background-color: darken($light_grey, 5);
  padding: $half_padding $padding;
  border-bottom-right-radius: $border_radius;
  border-bottom-left-radius: $border_radius;
  margin: $padding $negative_padding $negative_padding;
  display: flex;

  justify-content: space-between;
  align-items: flex-end;

  ul {
    li {
      padding: 0;
    }
  }

  a {
    display: inline-block;
    font-size: $font_size;
    text-align: right;
    opacity: 0.5;
    padding-bottom: 5px;
  }
}

.upload_box {
  display: inline-block;
  padding: 0px 5px;
  background: darken($light_grey, 3);
  border-radius: 5px;
  margin-left: 3px;

  &:hover {
    background-color: darken($light_grey, 5);
  }
}

.chart_container {
  .button_group {
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .button {
      text-align: center;
      flex-grow: 0;
    }
  }
}




$boolean_height: 28px;
$boolean_width: 46px;
$boolean_height_small: 14px;
$boolean_width_small: 23px;
$boolean_offset: 3px;

.boolean_outer {
  height: $boolean_height;
  display: inline-block;
  border-radius: $boolean_height;
  width: $boolean_width;
  background: $medium_grey;
  margin: 7px 0 0;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
  text-align: left;


  .boolean_inner {
    height: #{$boolean_height - (2 * $boolean_offset)};
    width: #{$boolean_height - (2 * $boolean_offset)};
    border-radius: 50%;
    background: white;
    position: relative;
    left: $boolean_offset;
    top: $boolean_offset;
    transition: all 0.3s;
    appearance: none;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;

    &:active,
    &:focus {
      box-shadow: 0 0 13px 7px scale-color($brand_color, $lightness: -20%);
    }
  }

  &.boolean_small {
    transform: scale(0.55) translateY(5px);
  }

  &.boolean_faded {
    opacity: 0.5;
  }

  &.active {
    background: $brand_color;

    .boolean_inner {
      left: #{$boolean_width - $boolean_height + $boolean_offset};
    }
  }

  &.boolean_green.active {
    background: $green;
  }
}


.channels_link_container {

  .channel_link_container {
    display: block;
    margin: 0;
    font-size: $font_size;
    border-bottom: 1px solid $medium_grey;


    &:last-child {
      border-bottom: 0;
    }

    a {
      display: block;
      padding: 10px;
    }
  }

}

.channel_container {
  height: 75vh;
  position: relative;

  .messages_container {
    height: calc(75vh - 60px);
    overflow-y: scroll;
    background-color: transparent;
  }

  .message_container {
    padding: 0 0 20px;
    margin: 0 0 20px;
    border-bottom: 1px solid $light_grey;

    p {
      padding: 0;
    }

    .date {
      font-weight: bold;
      display: block;
      padding: 0 0 5px;
      font-size: #{$font_size * 0.8};
    }
  }

  .task_input {
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.nice_file_upload {
  display: flex;
  align-items: center;
  padding: 50px 0;
  background: #fff;
  cursor: pointer;
  color: #717386;
  border: 2px dashed #717386;
  border-radius: 5px;
  font-size: 16px;
  overflow-x: auto;
  text-align: center;
  appearance: none;

}

.month_search {
  margin: 0 0 $padding;
  font-size: 90%;

  .columns {
    justify-content: flex-end;

    .column {
      max-width: 150px;
    }
  }


}