
body {
    background: $background_color;
    color: $font_color;
    font-family: $font_stack;
    font-weight: normal;
    font-size: 62.5%;
}



main {
    padding: $padding;
    @media(min-width: $mobile_width ){
        padding: $padding $padding $padding #{ $aside_width + $padding  };
    }

} // end of main



.box {
    background-color:white;
    box-shadow: $box_shadow;
    padding: $padding;
    margin: 0 0 $double_padding;
    border-radius: $border_radius;
    opacity: 0.75;
    transition: box-shadow 0.3s;

    &.inactive {
        opacity: 0.4;
        filter: grayscale(1);
    }



    p:last-child {
        padding:0;
        margin:0;
    }
}

.box_footer {
    background-color:  scale-color($brand_color, $lightness: 95%);
    margin: $padding #{$padding * -1} #{$padding * -1};
    padding: $half_padding;
    border-radius: 0 0  $border_radius $border_radius ;
    text-align: right;
    color:  scale-color($brand_color, $lightness: 33%);
     p {
         padding: 0;
         font-size: 1.2em;
     }
}




.alert {
    background: $brand_color;
    color: white;
    padding: $padding;
    border-radius: $border_radius;
    margin: 0 0 $padding;
    box-shadow: $box_shadow;
    font-size: $font_size;
    &.alert_danger {
        background-color: $red;
    }
}


.row_container {
    display:flex;
    margin:0;
    padding: 0;
    .actions_container {
        padding: 0  0 0 $half_padding;
    }
    .icon {
  
        opacity: 0.1;
    }

    &:hover {
        .icon {
            opacity: 1;
        }
    }
}

.orderable {

    position: relative;
    .handle {

        position: absolute;
        right: -5px;
        top: 12px;
        text-indent: -9999px;
        background: no-repeat center top url("assets/images/drag.svg");
        background-size: 15px;
        opacity: 0.3;
        cursor: pointer;
        width: 20px;
        height: 30px;
        display:inline-block;

    }
}


.task_container {
    margin: 0 0 $padding;
    &.completed {
        .content_container {
         opacity:0.5;
        }
    }

    &.indentation_1 {
        margin-left: 30px;
    }
  
    &.priority_1 {
        // input {
        //     border-color: $font_color;
        // }
       .actions_container {
           .icon {
               &.icon_priority {
                opacity: 1;
                   background-color: $red;
                   background-image: url("assets/images/priority_white.svg")
               }
           }
       }
    }
  

    .completed_container {
         width: 40px;
         max-width: 40px;
            input {
                transform: scale(1.4);
                position: relative;
                top: 8px;
                color: $brand_color;
                cursor: pointer;
            }
                
    }
    .content_container {
        flex: 1 auto;
        width: 100%;
    }
    .actions_container {
        min-width: 105px;
        max-width: 105px;
    }
    .task_input, input, textarea {
        font-size: 1em;
    }
    .icon {
        position: relative;
        top: 6px;
    }

   
} /// .task_container


.uploads_container {
    margin: 0 0 $padding 0;
    padding: 0;

}
.upload_container {
    border-bottom: 1px dotted $medium_grey;
    padding: $half_padding;
    
    .file_name {
        width: 100%;
    }
    .file_date {
        width: 100px;
        color: $medium_grey;
        font-style: italic;
    }
    .actions_container {
        padding: 0  0 0 $half_padding;
    }
}



.icon {
    background: no-repeat center center ;
    background-size: 15px;
    text-indent: -9999px;
    display:inline-block;
    width: 25px;
    height: 25px;
    border-radius: $border_radius;
    transition: all 0.3s;
    margin: 0 1px 0 0;

 
    &.icon_delete {
        background-image: url("assets/images/delete.svg");
    }
    &.icon_indent {
        background-image: url("assets/images/indent.svg");
    }
    &.icon_priority {
        background-image: url("assets/images/priority.svg");
    }
    &.icon_refresh {
        background-image: url("assets/images/refresh.svg");
        background-color: $font_color;
        background-size: 18px;
        background-position: center bottom;
    }

    &:hover {
        background-color: $medium_grey;
    }
}


h1 {
   a.icon {
    position: relative; 
    top: 10px;
    }
}

.progression_outer {
    margin: #{$padding * -1} #{$padding * -1} $padding;
    background-color: $light_grey;
    border-radius: $border_radius  $border_radius 0 0;
    opacity: 0.4;
    overflow: hidden;
    .progression_inner {
        background:   $brand_gradient;
        transition: all 1s;
        height: 3px;
      
    }
}

