<ng-container *ngIf="channel">

    <h3>{{channel.name}}</h3>


    <!-- <app-spinner [show]="messages_loading"></app-spinner> -->



    <div class="channel_container">
        <div class="messages_container ">

            <div class="message_container" *ngFor="let message of messages">
                <span class="date"> {{message.created_at_date | date}}</span>

                <blockquote class="">
                    <p>
                        {{message.content}}
                    </p>

                    <ul>
                        <li>
                            <span *ngIf="message.uploads">
                                <a class="upload_box" *ngFor="let upload of message.uploads" target="_blank"
                                    href="{{upload.full_url}}">
                                    {{upload.filename}}</a>
                            </span>
                        </li>
                    </ul>
                </blockquote>

            </div>



        </div>


        <textarea class="task_input" placeholder="your comment" [(ngModel)]="newmessage.content" name="content"
            id="content" (keypress)="saveCommentOnEnter($event)"></textarea>




    </div>


</ng-container>