<ng-container *ngIf="channel">

    <app-box>



        <div class="columns">
            <div class="column">
                <h3>
                    {{channel.name}}
                    <a [routerLink]="['/clients', channel.client.slug]" *ngIf="channel.client"> |
                        {{channel.client.name}}</a>

                </h3>
            </div>
            <div class="column column_right">
                <a (click)="makeProject()" class="button" *ngIf="no_project">Make project</a>
                <a (click)="scroll(tasks)" class="button" *ngIf="project">Tasks</a>

            </div>
        </div>


        <!-- <app-spinner [show]="messages_loading"></app-spinner> -->



        <div class="channel_container">
            <div class="messages_container ">

                <div class="message_container" *ngFor="let message of channel.messages"
                    [ngClass]="{my_message:  message.user_id === current_user.id }">
                    <div class="message_inner">
                        <span class="date"> {{message.created_at_date | date}}

                            | {{message.user_name}}
                        </span>

                        <blockquote class="">
                            <p>
                                {{message.content}}
                            </p>

                            <ul>
                                <li>
                                    <span *ngIf="message.uploads">
                                        <a class="upload_box" *ngFor="let upload of message.uploads" target="_blank"
                                            href="{{upload.full_url}}">
                                            {{upload.filename}}</a>
                                    </span>
                                </li>
                            </ul>
                        </blockquote>
                    </div>

                </div>



            </div>


            <textarea class="task_input" placeholder="your comment" [(ngModel)]="newmessage.content" name="content"
                id="content" (keypress)="saveCommentOnEnter($event)"></textarea>




        </div>
    </app-box>

    <div #tasks>
        <app-box *ngIf="project">
            <div class="project_whole">
                <app-project-whole [project]="project"></app-project-whole>
            </div>
        </app-box>
    </div>
</ng-container>