<ng-container *ngIf="project">
    <h1>{{project.name}}</h1>
    <app-box>



        <div class="progression_outer">
            <div class="progression_inner" [style.width.%]="project.percentage"></div>
        </div>


        <ul dragula="TASKS" [(dragulaModel)]="project.tasks" (dragulaModelChange)="project.tasks = $event">
            <li *ngFor="let task of project.tasks">
                <app-task [task]="task" (taskUpdated)="taskUpdated($event)" (taskDeleted)="removeOldTask($event)">
                </app-task>
            </li>
        </ul>

        <ul>
            <li>
                <app-new-task [project]="project" (taskCreated)="addNewTask($event)"></app-new-task>
            </li>
        </ul>




        <app-box-footer>
            <p>
                <a *ngIf="project.status !== 'inactive' " (click)="archiveProject()">Archive</a>
                &nbsp;
                <a [routerLink]="['/projects', project.id,  'edit']">Edit</a>
                &nbsp;
                <a (click)="deleteProject()">Delete</a>
            </p>

        </app-box-footer>




    </app-box>


    <app-box>
        <app-uploads></app-uploads>
    </app-box>

</ng-container>