<app-spinner [show]="!project"></app-spinner>
<ng-container *ngIf="project">
    <h1>
        <span *ngIf="client">
            <a [routerLink]="['/clients', client.slug]">{{client.name}}</a> |
        </span>
        {{project.nice_name}}
        &nbsp;
        <a (click)="refreshProject()" class="icon icon_refresh">{{'Refresh' | translate}}</a>
    </h1>

    <app-box>
        <div class="project_whole">
            <app-project-whole [project]="project" [users]="users"></app-project-whole>

        </div>


    </app-box>



    <app-uploads [project]="project"></app-uploads>





</ng-container>