<div class="upload_container row_container">
    <div class="file_name">
        <a target="_blank" *ngIf="!upload.is_image" href="{{upload.full_url}}"> {{upload.filename}}</a>
        <a (click)="openImage()" *ngIf="upload.is_image"> {{upload.filename}}</a>
        <select *ngIf="showSelect" (change)="taskChanged()" [(ngModel)]="upload.task_id" name="task_id" id="task_id">
            <option [ngValue]="null">Assign to task</option>
            <option *ngFor="let task of tasks" [ngValue]="task.id">{{task.content}}</option>
        </select>


        <div *ngIf="show_image" class="image_container">
            <a target="_blank" href="{{upload.full_url}}">
                <img [src]="upload.full_url" alt="">
            </a>
        </div>
    </div>
    <div class="file_date" (click)="toggleShowSelect()">

        {{upload.nice_created_at}}</div>
    <div class="actions_container">
        <a (click)="deleteUpload()" class="icon icon_delete">Delete</a>

    </div>


</div>