<app-spinner [show]="!client"></app-spinner>
<ng-container *ngIf="client">


    <div class="columns">
        <div class="column">
            <h1>{{client.name}} <a (click)="refreshProjects()" class="icon icon_refresh">{{'Refresh' | translate}}</a>
            </h1>


        </div>
        <div class="column column_right">
            <div class="button_group">
                <ng-container *ngIf="current_user?.is_admin">
                    <a (click)="toggleStep( 'incomplete')" [ngClass]="{button_green: show_incomplete === true}"
                        class="button button_white"> Show incomplete </a>
                    <!-- <a (click)="toggleStep( 'unapproved')" [ngClass]="{button_green: show_unapproved === true}"
                        class="button button_white"> Show unapproved </a> -->
                </ng-container>
                <a *ngIf="status === 'active'" [routerLink]="['/clients',   client.slug,  'status', 'inactive']"
                    class="button button_white">Archive</a>
                <a *ngIf="status !== 'active'" [routerLink]="['/clients',   client.slug, ]"
                    class="button button_white">En cours</a>
                <a (click)="toggleCollapse()" class="button button_white">Toggle</a>

                <a class="button button_primary" [routerLink]="['/projects', 'new', 'clients', client.id]">{{'New
                    Project' |
                    translate}}</a>

            </div>
        </div>
    </div>



    <app-box>
        <div class="project_whole" [ngClass]="{inactive: project.status === 'inactive'}"
            *ngFor="let project of projects" id="project_{{project.id}}">
            <app-project-whole (task_added)="reshowTasks($event)" [project]="project" [users]="users">
            </app-project-whole>

        </div>
    </app-box>



</ng-container>