<div class="row_container task_container">
    <div class="completed_container">
        &nbsp;
    </div>

    <div class="content_container">
        <form (ngSubmit)="onSubmit()" novalidate>

            <div class="inputs_container">
                <input appAutofocus [placeholder]="'add task here' | translate" autocomplete="off" type="text"
                    name="content" id="content" [(ngModel)]="task.content">
                <input *ngIf="canTranslate" [placeholder]="'add translation here' | translate" autocomplete="off"
                    type="translation" name="translation" id="translation" [(ngModel)]="task.translation">
            </div>


        </form>
    </div>
    <div class="actions_container"> &nbsp;</div>
</div>