<div class="row_container task_container">
    <div class="completed_container">
        &nbsp;
    </div>

    <div class="content_container">
        <form (ngSubmit)="onSubmit()" novalidate>


            <input [placeholder]="'add task here' | translate" autocomplete="off" type="text" name="content"
                id="content" (keyup)="saveDraft()" [(ngModel)]="task.content">

            <!-- appAutofocus -->

        </form>
    </div>
    <div class="actions_container"> &nbsp;</div>
</div>