<ng-container *ngIf="project">

    <div class="project_outer" [ngClass]="{collapsed: project.collapsed}">

        <div class="progression_outer">
            <div class="progression_inner" [title]="project.percentage" [style.width.%]="project.percentage">
                {{project.percentage}}</div>
        </div>



        <app-box-footer>
            <h2 (click)="collapseProject()"> {{project.name}} <span class="grey"
                    *ngIf="project.nice_month">{{project.nice_month}}
                    &nbsp;</span>
                <div class="toggle_collapse"></div>
            </h2>

            <p *ngIf="current_user">
                <a *ngIf="project.status !== 'inactive' " (click)="archiveProject()">{{'Archive' | translate}}</a>
                &nbsp;
                <a [routerLink]="['/projects', project.id,  'edit']">{{'Edit' | translate}}</a>
                &nbsp;
                <a (click)="deleteProject()">{{'Delete' | translate}}</a>
                &nbsp;

                <span>
                    <a (click)="exportProject()">{{'Export' | translate}}</a>
                    <!-- &nbsp;
                    <ng-container *ngFor="let user of users">
                        &nbsp;
                        <a (click)="assignUnassignedTo(user)">AAUTT {{user.name}}</a>
                    </ng-container> -->
                </span>


                | {{project.total_hours}}

            </p>

        </app-box-footer>





        <!-- <a [routerLink]="['/projects', project.id]">  </a> -->


        <ul>
            <li *ngFor="let task of project.visible_tasks">
                <app-task [task]="task" [project]="project" [canAdministrate]="!!current_user"
                    (taskUpdated)="taskUpdated($event)" (taskDeleted)="removeOldTask($event)">
                </app-task>
            </li>
        </ul>

        <ul>
            <li>
                <app-new-task [project]="project" (taskCreated)="addNewTask($event)">
                </app-new-task>
            </li>
        </ul>





    </div>



</ng-container>