<h1>Dashboard</h1>


<div class="columns">
    <div class="column column_large">
        <app-box *ngFor="let project of projects">
            <h2> <a [routerLink]="['/projects', project.id]">{{project.nice_name_with_client}}</a></h2>
            <ul *ngIf="project.tasks">
                <li *ngFor="let task of project.tasks">
                    <app-task [task]="task" [project]="project" [canAdministrate]="false"
                        (taskDeleted)="removeOldTask($event)">
                    </app-task>
                </li>
                <li *ngIf="project.tasks.length === 0">No tasks set</li>
            </ul>



        </app-box>
    </div>
    <div class="column column_small">
        <app-box>
            <div *ngIf="tasks_completed_today">
                <h3>Tasks completed today</h3>
                <ul>
                    <li *ngFor="let task of tasks_completed_today">{{task.content}}
                        {{task.time_taken}} mins</li>
                </ul>
                <div class="earnings">
                    <p> Hours: {{total_hours}}</p>
                    <p> Earned: {{total_earned}}</p>
                </div>
            </div>
        </app-box>
    </div>
</div>