<h1>Dashboard</h1>


<div class="columns">
    <div class="column column_large">

        <ng-container *ngFor="let project of projects">
            <app-project-summary [project]="project"></app-project-summary>
        </ng-container>


        <!-- <app-box *ngFor="let project of projects">
            <h2> <a [routerLink]="['/projects', project.id]">{{project.nice_name_with_client}}</a></h2>
            <ul *ngIf="project.tasks">
                <li *ngFor="let task of project.tasks">
                    <app-task [task]="task" [project]="project" [canAdministrate]="true"
                        (taskDeleted)="removeOldTask($event)">
                    </app-task>
                </li>
                <li *ngIf="project.tasks.length === 0">No tasks set</li>
            </ul>

        </app-box> -->
    </div>
    <div class="column column_small">
        <app-box>
            <div *ngIf="tasks_completed_today">
                <h3>Tasks completed today</h3>
                <ul>
                    <li *ngFor="let task of tasks_completed_today">
                        {{task.content}}
                        <a [routerLink]="['/projects', task.project_id]">{{task.time_taken | nicemins}} </a>
                    </li>
                </ul>
                <div class="earnings">
                    <p> Duration: {{total_minutes | nicemins}}</p>
                    <p> Earned: {{total_earned | currency}} @ {{hourly_wage | currency}}/hr</p>
                    <p *ngIf="average_earned">Average earned: {{average_earned | currency}}</p>
                </div>
            </div>
        </app-box>


        <app-box>
            <div class="chart_container">
                <app-bar-chart *ngIf="chart_config" [chart_config]="chart_config"
                    [chart_data_sub]="chart_data_sub"></app-bar-chart>
                <div class="button_group">
                    <a (click)="goBackwards()" class="button button_white">&larr;</a><a (click)="goForwards()"
                        class="button button_white">&rarr;</a>
                </div>
            </div>

        </app-box>

        <app-box>
            <form (ngSubmit)="onSearch()" novalidate>
                <div class="search_field">

                    <input [placeholder]="'Search' | translate" type="text" name="search_term" id="search_term"
                        [(ngModel)]="search_term">
                </div>
            </form>
        </app-box>

    </div>
</div>