<!-- <div class="lightbox_outer">
    <div class="lightbox_inner "> -->


<!-- <a (click)="hideLightbox()" class="close_lightbox">Close</a> -->
<!-- 
        <div class="task_container">
            <h3>
                {{task.content}}
            </h3>
        </div> -->


<div class="comments_container " *ngIf="comments">

    <div class="comment_container comment_author_{{comment.author}}" *ngFor="let comment of comments">
        <blockquote>{{comment.message}}
            <span class="date" *ngIf="comment.created_at"> {{comment.created_at_date | date}}
                <span *ngIf="comment.author" class="author">
                    | {{comment.author}}</span>
                <a class="icon icon_edit" [routerLink]="['/comments', comment.id]">{{'Edit' | translate}}</a>
            </span>
        </blockquote>

    </div>


    <div>
        <input class="task_input" placeholder="your comment" [(ngModel)]="newcomment.message" name="message"
            id="message" (keypress)="saveCommentOnEnter($event)" />
    </div>

</div>
<!-- </div>
</div> -->